* {
    bg-col:  #0f0f0f;
    bg-col-light: #0f0f0f;
    border-col: #262626;
    selected-col: #0f0f0f;
    blue: #8aabac;
    fg-col: #f0f0f0;
    fg-col2: #8aabac;
    grey: #D9E0EE;
    width: 330;
}
